/* App.css */
.container {
  display: flex;
}

.home-container {
  flex: 1;
  margin-right: 20px; /* Adjust as needed */
}

.cart {
  width: 200px; /* Adjust as needed */
  border: 1px solid #ccc;
  padding: 10px;
}

.form-group {
  margin-bottom: 10px;
}

button {
  display: block;
  margin-top: 10px;
}
